.cabeçalho {
background-color: rgb(142, 14, 216)
}
.cabeçalho-título1 {
    color: aquamarine;
}
.cabeçalho-título2 {
    color: bisque;
}
.Página-Principal {
    color: rgba(149, 8, 167, 0.945);
}
.Quem-Somos {
    color: rgba(149, 8, 167, 0.945);
}